<h1>Contact Form</h1>
<h3>Add a new contact:</h3>
<form action='/contacts/created' method='post'>
  <label for='new-contact'>contact name</label>
  <input id='new-contact' name='new-contact' type='text'>
  <label for='new-phone'>phone number</label>
  <input id='new-phone' name='new-phone' type='text'>
  <label for='new-address'>address</label>
  <input id='new-address' name='new-address' type='text'>
  <button type='submit'>Add contact</button>
</form>
