<h3>Here is selected contact:</h3>
<p>your selected contact name is @Model.GetName()</p>
<p>your selected contact phone number is @Model.GetPhoneNumber()</p>
<p>your selected contact address is @Model.GetAddress()</p>
<form action='/' method='get'>
  <button type='click'>Back to Main Page</button>
</form>
