<h1>Contact</h1>
<form action="/contacts/new" method='get'>
  <button type='click'>Add a New Contact</button>
</form>
<form action="/contacts" method='get'>
  <button type='click'>View Contacts</button>
</form>
<form action="/contacts_deleted" method='get'>
  <button type='click'>Clear All Contacts</button>
</form>
